<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-lg-11 col-sm-10 textUp">
          <!-- TITULOS INICIAIS -->
            <div class="row mt-5 textoCentro">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <label>João Pereira</label>
                </div>
                <div class="col-sm-0 col-md-5 col-lg-6">             
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 text-right textoCentro">
                    <label>
                        <a class="pl-2 text-dark"><fa-icon [icon]="faTwitter"></fa-icon></a>
                        <a class="pl-2 text-dark"><fa-icon [icon]="faFacebook"></fa-icon></a>
                        <a class="pl-2 text-dark"><fa-icon [icon]="faInstagram"></fa-icon></a>
                        <a class="pl-2 text-dark"><fa-icon [icon]="faGitHub"></fa-icon></a>
                    </label>
                </div>
            </div>
          <!-- FIM DOS TITULOS -->
          <div class="shadow-lg">
            <!-- CONTENT AZUL -->   
          <div class="row coverback pt-5">                    
            <div class="col-lg-4 col-md-5 col-sm-12">
                <img class="ml-lg-5 mt-lg-2 img-fluid imagemInicial" src="https://cdn.motor1.com/images/mgl/vyjQb/s3/ferrari-488-pista-prova-sul-circuito-di-fiorano.jpg" alt="" height="200" width="200">
            </div>
            <div class="col-lg-8 col-md-7 text-left textoCentro">
                <h2 class="mt-2 text-light font-weight-bolder ">João Pereira</h2>
                <h6 class="text-light font-weight-bolder ">Web Developer & ESX Configer</h6>
            </div>
      </div>
      <!-- FIM CONTENT AZUL -->
      <div class="row bg-white pt-5">
          <div class="col-lg-5 col-md-5 col-sm-12 mr-5">
            <h3 class="font-weight-bolder">About Me</h3>
            <p class="textos">Hello! I’m Joyce Harrison. I am passionate about UI/UX design and Web Design. I am a skilled Front-end Developer and master of Graphic Design tools such as Photoshop and Sketch.</p>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 textos">
            <p>ola</p>
          </div>
      </div>
          </div>
      </div>
      <div class="col-sm-1 col-lg">
      </div>
    </div>
</div>