<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-lg-11 col-sm-10 textUp">
      <!-- TITULOS INICIAIS -->
      <div class="row mt-5 textoCentro">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <label>João Pereira</label>
        </div>
        <div class="col-sm-0 col-md-5 col-lg-6">
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 text-right textoCentro">
          <label>
            <a class="pl-2 text-dark">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a class="pl-2 text-dark">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a class="pl-2 text-dark">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a class="pl-2 text-dark">
              <fa-icon [icon]="faGitHub"></fa-icon>
            </a>
          </label>
        </div>
      </div>
      <!-- FIM DOS TITULOS -->
      <div class="shadow-lg">
        <!-- CONTENT AZUL -->
        <div class="row coverback pt-5">
          <div class="col-lg-4 col-md-5 col-sm-12">
            <img class="ml-lg-5 mt-lg-2 img-fluid imagemInicial"
              src="https://cdn.motor1.com/images/mgl/vyjQb/s3/ferrari-488-pista-prova-sul-circuito-di-fiorano.jpg"
              alt="" height="200" width="200">
          </div>
          <div class="col-lg-8 col-md-7 text-left textoCentro">
            <h2 class="mt-2 text-light font-weight-bolder ">João Pereira</h2>
            <h6 class="text-light font-weight-bolder ">Web Developer & ESX Configer</h6>
          </div>
        </div>
        <!-- FIM CONTENT AZUL -->
        <!-- INICIO DO CONTENT BRANCO-->
        <div class="row bg-white pt-5">
          <div class="col-lg-5 col-md-12 col-sm-12 ml-lg-5 ml-md-3 mr-md-5 textoCentro">
            <h3 class="font-weight-bolder">About Me</h3>
            <p class="textos">Olá, o meu nome é João Pereira e sou estudante! Neste momento estou a tirar um curso para
              prosseguir na carreira de Desenvolvedor Web.</p>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 textos">
            <div class="pt-3">
              <p><span class="pr-5 text-left textoCentro font-weight-bolder">Age</span><span
                  class="ml-5 text-left">19</span></p>
              <p><span class="pr-5 text-left textoCentro font-weight-bolder">Email</span><span
                  class="ml-5 text-left">pereira.joao.7717@gmail.com</span></p>
              <p><span class="pr-5 text-left textoCentro font-weight-bolder">Phone</span><span
                  class="ml-5 text-left">+351 926 882 719</span></p>
              <p><span class="pr-5 text-left textoCentro font-weight-bolder">Adress</span><span
                  class="ml-5 text-left">Travessa das Antas n128</span></p>
            </div>
          </div>
        </div>
        <div class="row bg-white pt-5">
          <div class="col-lg-5 col-md-12 col-sm-12 ml-lg-5 ml-md-3 mr-md-5 ">
            <h3 class="font-weight-bolder">About Me</h3>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 ml-lg-5 ml-md-3 mr-md-5 pr-md-5">
            <p class="textos font-weight-bolder">HTML</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            <p class="textos font-weight-bolder">CSS</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            <p class="textos font-weight-bolder">JAVASCRIPT</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12  ml-md-3 mr-md-5 pr-md-5">
            <p class="textos font-weight-bolder">Angular</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
            <p class="textos font-weight-bolder">Node JS</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
            </div>
            <p class="textos font-weight-bolder">Design</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 ml-lg-5 ml-md-3 mr-md-5 pt-5 mt-5">
            <h3 class="font-weight-bolder">Working Experience</h3>
          </div>
          <div class="container py-2 mt-4 mb-4">
            <!-- timeline item 1 -->
            <div class="row">
              <!-- timeline item 1 left dot -->
              <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
              </div>
              <!-- timeline item 1 event content -->
              <div class="col py-2">
                <div class="card">
                  <div class="card-body textos">
                    <h4 class="card-title text-black font-weight-bolder">Web Developer <label
                        class="font-weight-normal"> at Group In Blue</label></h4>
                    <p class="card-text">Nesta empresa fiz alguns trabalhos desenvolvento websites com backend e
                      frontend</p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--container-->
          <div class="col-lg-5 col-md-12 col-sm-12 ml-lg-5 ml-md-3 mr-md-5 pt-5 mt-5">
            <h3 class="font-weight-bolder">Education</h3>
          </div>
          <div class="container py-2 mt-4 mb-4">
            <!-- timeline item 1 -->
            <div class="row">
              <!-- timeline item 1 left dot -->
              <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
              </div>
              <!-- timeline item 1 event content -->
              <div class="col py-2">
                <div class="card">
                  <div class="card-body textos">
                    <h4 class="card-title text-black font-weight-bolder">CTESP Desenvolvimento Web e Multimédia <label
                        class="font-weight-normal"> from IPCA</label></h4>
                    <p class="card-text">Onde aprendi muito sobre angular, JAVASCRIPT, SQL e muitas outras ferramentas
                      essenciais para Desenvolvimento WEB</p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--container-->
        </div><!-- utlima div do content-->
        <!--FIM DO CONTENT BRANCO-->
      </div>
      <div class="col-sm-1 col-lg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-lg-11 col-sm-10 mt-5 text-center">
        <p>João Pereira</p>
        <p>
          <a class="pl-2 text-dark">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a class="pl-2 text-dark">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a class="pl-2 text-dark">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a class="pl-2 text-dark">
            <fa-icon [icon]="faGitHub"></fa-icon>
          </a>
        </p>
        <p>© Right Resume. All rights reserved.</p>
      </div>
      <div class="col-sm-1 col-lg">
      </div>
    </div>
  </div>