<app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-lg-11 col-sm-10 textUp">
      <!-- TITULOS INICIAIS -->
      <div class="row mt-5 textoCentro">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <label>Lista de Compras</label>
        </div>
        <div class="col-sm-0 col-md-5 col-lg-6">             
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 text-right textoCentro">
          <label>
            <a class="pl-2 text-dark"><fa-icon [icon]="faTwitter"></fa-icon></a>
            <a class="pl-2 text-dark"><fa-icon [icon]="faFacebook"></fa-icon></a>
            <a class="pl-2 text-dark"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a class="pl-2 text-dark"><fa-icon [icon]="faGitHub"></fa-icon></a>
          </label>
        </div>
      </div>
      <!-- FIM DOS TITULOS -->
      <!-- INICIO DO CONTENT BRANCO-->
      <a class="p-2 text-dark" [routerLink]="['add']">Add</a>
      <a class="p-2 text-dark" [routerLink]="['buy']">Buy</a>
      <div class="row bg-white shadow-lg rounded p-5">
        
      
      



  <router-outlet></router-outlet>
  
